@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

header {
  height: 60px;
  width: 100vw;
  left: 0;
  top: 0;
  border-radius: 0;
  background: white;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  box-shadow: 0 4px 10px rgba(79, 79, 79, 0.07);
  z-index: 50;
  position: fixed;

  .brand {
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #1875F0;
  }
  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .search {
      img {
        margin: auto 15px;
        width: 15px;
        height: 15px;
      }
      input {
        font-family: Segoe UI, serif;
        font-size: 15px;
        line-height: 16px;
        color: #979797;
        border: none;
        padding: 10px;
        width: 350px;
        outline: none;
      }
    }
    > div {
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      nav {
        display: flex;
        ul {
          list-style: none;
        }
      }
      > div {
        display: flex;
        img {
          margin: auto 50px;
        }
        .profile {
          display: flex;
          justify-content: center;
          .alignLeft {
            text-align: right;
          }
          img {
            margin: auto 60px auto 10px;
          }
        }
      }
    }
  }
}

section {
  display: flex;
  margin-top: 60px;

  aside {
    width: 260px;
    background: white;
    height: calc(100vh - 60px);
    overflow-y: auto;
    box-sizing: border-box;

    .generateInvoice {
      font-family: Roboto, serif;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      letter-spacing: 0.2px;
      color: #FFFFFF;
      background: #27AE60;
      border-radius: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 160px;
      height: 30px;
      margin: 50px 40px;
      cursor: pointer;
    }

    .heading {
      font-family: Segoe UI, serif;
      margin-top: 35px;
      font-size: 14px;
      line-height: 15px;
      padding: 10px 43px;
    }

    .menu {
      display: flex;
      padding: 15px 15px 15px 40px;
      box-sizing: border-box;
      width: 100%;
      &:hover {
        background: #E8F1FD;
        border-left: solid 5px #1875F0;
        cursor: pointer;
        padding: 15px 15px 15px 35px;
      }
      &.active {
        background: #E8F1FD;
        border-left: solid 5px #1875F0;
        cursor: pointer;
        padding: 15px 15px 15px 35px;
      }
      img {
        margin-right: 14px;
      }
      span {
        font-family: Segoe UI, serif;
        font-size: 15px;
        line-height: 15px;
        color: #647787;
      }
    }
  }
}

