<header>
  <span class="brand">TransMonitor</span>
  <div>
    <label class="search">
      <img src="../assets/icons/Search.svg" alt="searchIcon">
      <input type="search" placeholder="search">
    </label>
    <div>
      <nav>
        <ul>Support</ul>
        <ul>FAQ</ul>
      </nav>
      <div>
        <img src="../assets/icons/notification.svg" alt="notification">
        <div class="profile">
          <div>
            <div class="alignLeft">Hello</div>
            <div class="alignLeft">Oluwaleke Ojo</div>
          </div>
          <img src="../assets/icons/avater.svg" alt="avater">
        </div>
      </div>
    </div>
  </div>
</header>


<section>
  <aside>
    <div class="generateInvoice">GENERATE INVOICE</div>
    <div class="heading">Main</div>
    <div class="menu active">
      <img src="../assets/overview.svg" alt="">
      <span>Overview</span>
    </div>
    <div class="heading">Payments</div>
    <div class="menu">
      <img src="../assets/allPayment.svg" alt="">
      <span>All Payments</span>
    </div>
    <div class="menu">
      <img src="../assets/reconciledPayment.svg" alt="">
      <span>Reconcilled Payments</span>
    </div>
    <div class="menu">
      <img src="../assets/UnReconcilledPayments.svg" alt="">
      <span>Un - Reconcilled Payments</span>
    </div>
    <div class="menu">
      <img src="../assets/manualSettlement.svg" alt="">
      <span>Manual Settlement</span>
    </div>
    <div class="heading">Orders</div>
    <div class="menu">
      <img src="../assets/allOrders.svg" alt="">
      <span>All Orders</span>
    </div>
    <div class="menu">
      <img src="../assets/pendingOrders.svg" alt="">
      <span>Pending Orders</span>
    </div>
    <div class="menu">
      <img src="../assets/reconciledOrders.svg" alt="">
      <span>Reconcilled Orders</span>
    </div>
    <div class="menu">
      <img src="../assets/merchantProfile.svg" alt="">
      <span>Merchant Profile</span>
    </div>
  </aside>
</section>

<!--<router-outlet></router-outlet>-->
